#board {
    position: relative;
    background-color: rgb(161, 208, 202);
    height: 100vh;
    /*background-image: url("https://i.pinimg.com/originals/64/6c/7a/646c7add227fb4dd0e68c1b5daa732d3.jpg");*/
    
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

#box {
    display: block;
}