#board {
    position: relative;
    background-color: rgb(161, 208, 202);
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/64/6c/7a/646c7add227fb4dd0e68c1b5daa732d3.jpg");
    
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
}